* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: arial;
  background-image: url("../img/bg-img.png");
  background-repeat: no-repeat;
  background-size: 100% 90%;

  background-position: bottom;

  
}

.navbar{
  width: 100vw;
  min-height: 90px;
  position: fixed;
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: #a9c4f6 0px 10px 20px, #a9c4f6 0px 6px 6px;
  
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.style-table {
  width: 100%;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.style-table thead th {
  background-color: #d9e5f1;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.style-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.wrapper-h1{
  color: #173f75;
  margin-bottom: 10px;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.event-button{
  text-decoration: none;
  color: white;
  font-size: .9rem;
  text-transform: uppercase;
}

.addnew-btn{
  width: 80px;
}

.delete-btn{
  background-color: rgb(145, 6, 6);
}

.edit-btn{
  background-color: rgb(154, 159, 22);
}


.delete-btn , .edit-btn{
  width: 40px;
}

.container{
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #6480a5;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-list{
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #6480a5;
  background-color: white;
}

.event-display{
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 20px;
}

.container-event{
  width: 250px;
  height: auto;
  padding: 20px;
  border: 1px solid #6480a5;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  margin: 20px 0
}

.form__label {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.success-msg{
  color: green;
}

button{
  width: 100%;
  min-height: 50px;
  background-color: #1551f9;
  border: 1px solid black;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
}

.logo{
  max-width: 120px;
  margin-top: 20px;
  margin-left: 30px;
}

img{
  width: 100%;
}







